/*
 * helper function that converts rem to px
 */
 @function pxtorem($px, $rem: 16) {
  @return ($px / $rem) +0rem;
}

/**
 * CSS3 Manualpixer
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow($shadow...) {
  text-shadow: $shadow;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin background-gradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color2 0%, $color1 100%);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #1a1d2b),
      color-stop(100%, $color1)
  );
  background: -webkit-linear-gradient(top, $color2 0%, $color1 100%);
  background: -o-linear-gradient(top, $color2 0%, $color1 100%);
  background: -ms-linear-gradient(top, $color2 0%, $color1 100%);
  background: linear-gradient(to bottom, $color2 0%, $color1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color2, endColorstr=$color1, GradientType=0);
}

@mixin background-gradient-horizontal($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
  background: linear-gradient(to right, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2, GradientType=1);
}

/**
 * Looping
 */
@mixin dynamic-loop($class-slug, $attribute, $prefix, $end) {
  @for $i from 0 through $end {
    .#{$class-slug}-#{$prefix}#{$i} {
      #{$attribute}: #{$prefix} + $i + px;
    }
  }
}

@mixin dynamic-loop-by-10($class-slug, $attribute,  $end) {
  @for $i from 1 through $end {
    .#{$class-slug}-#{$i}0 {
      #{$attribute}: ($i + 0px) * 10;
    }
  }
}

@mixin dynamic-loop-by-20($class-slug, $attribute, $end) {
  @for $i from 2 through $end {
    .#{$class-slug}-#{$i}0 {
      #{$attribute}: ($i + 0px) * 10;
    }
  }
}

/**
 * Responsive ratio example:
 * responsive-ratio(16:9)
 */

@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + "%");
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

/**
 * Pseudo includes example:
 * div::after {
 *    @include pseudo;
 * }
 */
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

/**
** Margin and padding set to zero example:
	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}
	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}
**/

// add/remove margins
@mixin push--ends($spacing: $spacing-unit) {
  margin: {
    top: $spacing;
    bottom: $spacing;
  }
}

@mixin push--sides($spacing: $spacing-unit) {
  margin: {
    left: $spacing;
    right: $spacing;
  }
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin offset--sides($spacing: $spacing-unit) {
  margin: {
    left: -$spacing;
    right: -$spacing;
  }
}

@mixin flush--ends {
  margin: {
    top: 0;
    bottom: 0;
  }
}

@mixin flush--sides {
  margin: {
    left: 0;
    right: 0;
  }
}

// add/remove paddings
@mixin soft--ends($spacing: $spacing-unit) {
  padding: {
    top: $spacing;
    bottom: $spacing;
  }
}

@mixin soft--sides($spacing: $spacing-unit) {
  padding: {
    left: $spacing;
    right: $spacing;
  }
}

@mixin hard--ends {
  padding: {
    top: 0;
    bottom: 0;
  }
}

@mixin hard--sides {
  padding: {
    left: 0;
    right: 0;
  }
}

//placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
/**
** Retina images example:
  .element {
      @include retina {
			background-image: url(../img/background@2x.png);
		}
	}
**/

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3 / 2),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
    @content;
  }
}

/**
 * Font weights
 */
@mixin font-by-weight($class-slug, $weight) {
  .#{$class-slug}-#{$weight} {
    #{$class-slug}: $weight;
  }
}

/**
 * Bootstrap mixins overriding
 */
@mixin form-control-focus($color) {
  &:focus {
    border-color: $color;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/**
 * Labels
 */
@mixin input-label-separator(){
  display: grid;
  grid-template-columns: auto 210px;
  grid-column-gap: 15px;
  > div{
      &:nth-child(2){
          padding-top: 4px;
      }
  }
}

/**
* Flexing
**/
@mixin small-helper-message-under-input(){
  text-align: right;
  padding-right:5px;
  font-size: 9pt;
  color: #333;
  margin-top: -16px;
}

@mixin set-items-flexdirection-column(){
  display: flex;
  flex-direction: column;
}

@mixin translucent-background(){
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: #ffffff;
}

@mixin translucent-button(){
  border-radius: 3px;
  border: solid 1px #8f9dea;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}