@import "mix";

$font-family-sans-serif: "Helvetica", Arial, sans-serif;
$font-family-serif: "Helvetica", Arial, serif;
$font-family-monospace: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-head: $font-family-serif;

$font-size-base: pxtorem(13);
$font-size-large: pxtorem(16);
$font-size-small: pxtorem(11);

$font-size-h1: pxtorem(36);
$font-size-h2: pxtorem(32);
$font-size-h3: pxtorem(24);
$font-size-h4: pxtorem(18);
$font-size-h5: pxtorem(16);
$font-size-h6: pxtorem(15);

$line-height-base: 1.38;
$line-height-computed: floor(($font-size-base * $line-height-base));

$headings-font-family: inherit;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: inherit;

$color-dark-blue-magic: #002c5f;
$color-red-magnet: #5f0f1c;

$primary: #cda674;
$text-dark: #58595b;
$text-grey: #a8a9ad;
$text-light: #ececec;
$red: #ff5b5c;
$nav-submenu-bg: #e9bf89;
$nav-inactive-color: #ececec;
$nav-active-color: #fff;
$input-disabled-bg: #f5f5f5;
