/**
** ! Applied to all pages in app
**/
body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  padding:0;
  margin:0;
}

/**
** ! No Scripts
**/
.no-script{
  font-size:18px;
  background: #666;
  color:#fff;
  padding:3px;
}

/**
** ! IE below 10 warning
**/
.ie-warning{
  background: #fff;
  border:1px solid #333;
  color:#333;
  padding:10px;
  margin:5px 5px 10px;
  h1 {
    color:#efe23e;
  }
  .ie-warning__downloads{
    text-transform: capitalize;
    margin-bottom:15px;
    > a {
      display: inline-block;
      border: 1px solid #9999;
      padding: 5px 10px;
      margin-right: 2px;
      border-radius: 3px;
    }
  }
}