// popover
.popover {
  background: red;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);

  .arrow:after {
    border-right-color:red !important;
  }

  .editable-submit {
    background: gold;
    color: red !important;

    &:hover {
      color: #333 !important;
    }
  }

  .editable-cancel {
    background: transparent;
    color: gold;
    border: 1px solid gold;
  }
}

.editable {
  position: relative;

  a {
    width: 100%;
    min-width: 50px;
    display: block;

    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      z-index: 1;
      right: 2px;
      bottom: 6px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-color: transparent transparent #D5BC8E transparent;
    }
  }

  .editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
}
