.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #dfe3e7;
    border-radius: 0.267rem;
    height: 39px;

    &.is-invalid {
        border: 1px solid $red;
    }
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #58595b;
    font-family: "IBM Plex Medium";
    line-height: 28px;
    font-size: 1rem;
    outline: 0 !important;
}

.select2-container--classic .select2-selection--single:focus,
.select2-container--default .select2-selection--single:focus {
    border-color: $primary !important;
    box-shadow: 0 !important;
    outline: 0 !important;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #dfe3e7;
    font-family: "IBM Plex";
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
    color: white;
}

.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: $primary !important;
    outline: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0 !important;
}
