/**
* Swal Modal
**/
.swal2-modal {
    background: white !important;

    .swal2-title {
        color: black !important;
        font-size: 23px !important;
    }
    .swal2-content {
        color: black !important;
    }

    .swal2-confirm {
        background-color: $primary !important;
        font-family: "IBM Plex Medium";
        font-size: pxtorem(18);
        line-height: 23px;

        &:focus,
        &:active {
            background-color: $primary !important;
        }

        &:hover {
            box-shadow: 0 4px 12px 0 $primary !important;
            background-color: $primary !important;
        }
    }

    .swal2-cancel {
        background-color: $text-light !important;
        font-family: "IBM Plex Medium";
        font-size: pxtorem(18);
        line-height: 23px;
        color: $text-dark;

        &:focus,
        &:active {
            background-color: $text-light !important;
            color: $text-dark;
        }

        &:hover {
            box-shadow: 0 4px 12px 0 $text-light !important;
            background-color: $text-light !important;
            color: $text-dark;
        }
    }
}
