#tree-indent {
    width: 100%;
    overflow: scroll;

    .node rect {
        cursor: pointer;
        fill: #fff;
        fill-opacity: 0.5;
        stroke: #666666;
        stroke-width: 1.5px;
    }

    .node text {
        font: 10px sans-serif;
        pointer-events: none;
    }

    .link {
        fill: none;
        stroke: #ffffff;
        stroke-width: 1.5px;
    }
}

#tree-horizontal {
    .tree-link {
        fill: none;
        stroke: #d9dbde;
        stroke-width: 2px;
    }

    .tooltip-info {
        position: relative;
        width: 15px;
        height: 15px;
        i {
            position: absolute;
            top: 0;
            left: 0;

            &.white {
                color: #ffffff;
            }
        }
    }

    .wrap-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tree-vertical {
    .tree-link {
        fill: none;
        stroke: #d9dbde;
        stroke-width: 2px;
    }
    .people_body {
        fill: gray;
    }
    .people_body_leader {
        fill: gray;
    }
    .people_head {
        fill: red;
    }
    .people_head_leader {
        fill: red;
    }
    .people_text {
        fill: #58595b;
        font-family: "IBM Plex Medium";
        font-size: pxtorem(12);
    }
    .active {
        .people_body {
            fill: gray;
        }
        .people_body_leader {
            fill: gray;
        }
        .people_head_leader {
            fill: gray;
        }
        .people_head {
            fill: gray;
        }
        .people_text {
            fill: #58595b;
            font-family: "IBM Plex Medium";
            font-size: pxtorem(12);
        }
    }
}

// .sponsor_legend {
//     padding: pxtorem(10) pxtorem(5);

//     span {
//         margin-left: pxtorem(5);
//     }
// }

body {
    // .tooltip{
    //     background-color: $color-tree-2;
    //     color: $white;
    // }

    .tooltip {
        background-color: transparent !important;
    }

    .sponsor-tooltips {
        padding: 24.5px !important;
        background-color: white !important;
        position: fixed;
        max-width: 300px;
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    }

    .tooltip-labels {
        color: $primary !important;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 17px;
        font-family: "Rubik Medium";
    }

    .tooltip-values {
        color: #58595b !important;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
        font-family: "IBM Plex Medium";
    }
}

.people_text_rect {
    background-color: white;
}

.tree_load {
    font-family: "IBM Plex Medium";
}
