.file_upload_thumbnail {
  text-align: left;
  padding-bottom: 20px;

  div,
  label {
      padding: 10px 0;
  }

  i {
      font-size: 60px;
      color: #000;
  }

  img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
  }

  &__label {
      color: #000;
  }

  &__input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }

  &__upload {
      color: #999;
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
  }

  &__preview {
      width: 404px;
      height: 204px;
      background-color: #999;
      border: 1px solid white;
      // line-height: 204px;

      & div {
          margin-top: 50px;
      }
  }
}