/**
* @TODO: Remove file
**/

.radios {
    width: 80px;
}

.hyperlink {
    color: #58595b;
    font-family: "IBM Plex Medium";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    text-decoration: underline;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.table-total-results {
    font-family: "Rubik Medium";
    font-size: 14px;
    font-weight: 500;
    color: $text-dark;
}

.small-hyperlink {
    color: #58595b;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;

    &:hover {
        color: $primary;
    }
}

.epoa-subheader {
    font-family: "IBM Plex Medium";
    font-size: 16px;
    color: #58595b;
}

.signature {
    border: 1px solid #58595b;
    border-radius: 10px;
    &-cont {
        width: 100%;
    }
}

.review {
    scrollbar-color: $primary !important;
}

.contract.cont {
    scrollbar-color: $primary !important;
    font-size: pxtorem(14);
    background-color: #f5f6f9;

    .sub {
        scrollbar-color: $primary !important;
        color: #58595b;
        font-family: "IBM Plex Medium";
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;

        & > div {
            padding: 10px 0;
        }

        & > div:first-child {
            padding: 0;
        }

        .section-header {
            font-weight: 600;
            &-italic {
                font-style: italic;
            }
        }

        .info {
            padding: 0;
            color: #58595b !important;
        }

        .section-item {
            display: flex;
            padding: 10px 0;

            .content > div {
                padding: 5px 0;
            }

            .content > div:first-child {
                padding: 0 0 5px 0;
            }

            .content .header {
                font-weight: 600;
            }

            .content .body > div {
                padding: 10px 0;
            }

            .content .body > div:first-child {
                padding: 0;
            }

            .content {
                width: 95%;
            }

            .number {
                width: 5%;
            }
        }

        .acknowledge {
            display: flex;

            .header {
                font-weight: 600;
            }

            & > div {
                width: 50%;
            }
        }
    }
}

.signature-clear {
    a i {
        font-size: pxtorem(20);
        color: $primary;
    }
}

.bg-authentication {
    background-color: #f2f4f4;
}

.bg-authentication #icon-arrow {
    position: absolute;
    top: 11px;
    right: 15px;
}

.bg-authentication .brand-text {
    color: #5a8dee;
    font-weight: 600;
    letter-spacing: 0.01rem;
}

@media only screen and (min-width: 992px) {
    .bg-authentication .disable-rounded-right {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE Specific CSS */
    .bg-authentication {
        width: 100%;
        display: block;
    }
}

.btn-primary {
    background-color: $primary !important;
    font-family: "IBM Plex Medium";
    font-size: pxtorem(18);
    line-height: 23px;

    &:focus,
    &:active {
        background-color: $primary !important;
    }

    &:hover {
        box-shadow: 0 4px 12px 0 $primary !important;
        background-color: $primary !important;
    }
}

.btn-secondary {
    background-color: $text-light !important;
    font-family: "IBM Plex Medium";
    font-size: pxtorem(18);
    line-height: 23px;
    color: $text-dark !important;

    &:focus,
    &:active {
        background-color: $text-light !important;
        color: $text-dark !important;
    }

    &:hover {
        box-shadow: 0 4px 12px 0 $text-light !important;
        background-color: $primary !important;
        color: #ffffff !important;
    }
}

.a-text {
    color: $primary !important;
    font-family: "IBM Plex Medium";
    font-size: pxtorem(14);
    line-height: 18px;

    &:hover,
    &:active,
    &:visited {
        color: $primary !important;
    }
}

.form-value {
    font-family: "IBM Plex";
    font-size: pxtorem(12);
    line-height: 20px;
    color: $text-dark;
}

.form-text-info {
    font-family: "IBM Plex" !important;
    color: $text-dark !important;
}

.form-group {
    label {
        font-family: "IBM Plex Semi Bold" !important;
        font-size: pxtorem(14) !important;
        line-height: 18px !important;
    }

    .super-bold-label {
        font-family: "Rubik Medium" !important;
        font-size: pxtorem(14) !important;
        line-height: 18px !important;
        font-weight: bold !important;
        letter-spacing: 0;
        color: $text-dark;
        text-transform: uppercase !important;
    }

    .form-control:focus {
        border-color: $primary !important;
    }
}

.login-to-register {
    font-size: pxtorem(14);
    line-height: 18px;
    color: $text-grey;
}

html body.blank-page .content-wrapper .flexbox-container {
    height: auto !important;
    margin-top: 50px;

    @media only screen and (max-width: 500px) {
        margin-top: 0px;
    }
}

.wide {
    &.lang-selector {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        align-items: center;

        & > div {
            padding: 0 5px;
            font-size: pxtorem(18);
            line-height: 23px;
            font-family: "IBM Plex Medium";
            cursor: pointer;
            opacity: 0.5;
        }

        & > div.small {
            padding: 0 5px;
            font-size: pxtorem(16);
            line-height: 21px;
            font-family: "IBM Plex Medium";
            cursor: pointer;
            opacity: 0.5;
        }

        & > div.active {
            opacity: 1;
        }
    }
}

.register-header {
    font-family: "Rubik Medium";
    font-size: pxtorem(32);
    line-height: 38px;
    color: $text-dark;
}

.register-note {
    padding: 0 0 20px;
    font-family: "IBM Plex Medium";
    font-size: pxtorem(14);
    line-height: 18px;
    color: $text-dark;

    &.center {
        text-align: center;
    }
}

label {
    color: $text-dark;
}

.contact-number-label {
    font-family: "IBM Plex Semi Bold" !important;
    font-size: 0.875rem !important;
    line-height: 18px !important;
    color: $text-dark;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.main-menu {
    background-color: $primary !important;
}

.nav_new {
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    color: $primary;
    font-size: 10px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: auto;
}

.navigation {
    &.navigation-main {
        background: transparent !important;
    }

    .menu-title {
        color: $nav-inactive-color;
        font-family: "IBM Plex";
        font-size: pxtorem(16);
        line-height: 21px;
    }

    .active {
        .menu-title {
            color: $nav-active-color;
            font-family: "IBM Plex";
            font-size: pxtorem(16);
            line-height: 21px;
        }
    }

    .bx {
        color: $nav-inactive-color !important;
    }

    .active {
        .bx {
            color: $nav-active-color !important;
        }
    }
}

body.vertical-layout.vertical-menu-modern
    .main-menu
    .navigation
    li.has-sub
    > a:not(.mm-next):after {
    color: $nav-inactive-color !important;
}

.main-menu.menu-light .navigation > li.nav-item.open.has-sub.open,
.main-menu.menu-light
    .navigation
    > li.nav-item.open.has-sub.sidebar-group-active,
.main-menu.menu-light
    .navigation
    > li.nav-item.sidebar-group-active.has-sub.open,
.main-menu.menu-light
    .navigation
    > li.nav-item.sidebar-group-active.has-sub.sidebar-group-active {
    border-radius: 0.267rem;
    border: 0;
    background-color: $nav-submenu-bg;
    transition: none;
    box-shadow: 0 1px 1px 0 rgba(88, 89, 91, 0.1);
}

.main-menu.menu-light .navigation li a {
    color: $nav-inactive-color;
    font-family: "IBM Plex";
    font-size: pxtorem(16);
    line-height: 21px;
}

.main-menu .navbar-header .navbar-brand .brand-logo .logo {
    height: 45px !important;
    margin-top: 0 !important;
}

.main-menu .navbar-header {
    padding: 0 15px 0 1px !important;
}

.main-menu .navbar-header .modern-nav-toggle {
    margin-top: 20px;

    .bx {
        color: white;
    }
}

.main-menu.menu-light .navigation > li.active:not(.sidebar-group-active) > a {
    background: $nav-submenu-bg;
}

.main-menu .navbar-header .navbar-brand .brand-logo {
    height: 45px;
    width: 65px;
    float: left;
    margin-top: 0.2rem;
    margin-left: 3px;
    overflow: hidden;
}

.main-menu.expanded .navbar-header .navbar-brand .brand-logo {
    height: 45px;
    width: 65px;
    float: left;
    margin-top: 0.2rem;
    margin-left: 3px;
    overflow: initial;
}

.main-menu.menu-light .navigation > li ul .active {
    background: rgba(205, 166, 116, 0.2);
}

.main-menu.menu-light .navigation > li ul .active > a {
    color: $nav-active-color;
}

body.vertical-layout.vertical-menu-modern
    .main-menu
    .navigation
    .menu-content
    > li
    > a
    > i {
    margin-right: 5px;
}

.main-menu.menu-light .navigation > li ul .open > a,
.main-menu.menu-light .navigation > li ul .sidebar-group-active > a {
    color: $nav-inactive-color;
}

body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > i {
    width: 1.6rem !important;
    margin-right: 5px !important;
    float: left;
}

.main-menu.menu-light .navigation > li {
    margin: 0 10px;
    transition: background-color 0.5s ease;
}

.header-member-id {
    font-size: pxtorem(18);
    line-height: 22px;
    font-family: "Rubik Medium";
    color: $primary;
    text-transform: uppercase;

    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.dropdown.dropdown-user.nav-item {
    .user-name {
        font-size: pxtorem(18);
        line-height: 23px;
        font-family: "IBM Plex Medium";
        color: $text-dark;
    }
}

#navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
    top: 0 !important;
}

.user-profile-image {
    background: linear-gradient(90deg, #cda674 0%, #ab7c62 100%);
}

.round-avatar {
    border-radius: 15px !important;
    padding: 10px;
}

.profile-text-color {
    color: $text-dark !important;
    font-family: "Rubik Medium";
    font-size: pxtorem(32);
    line-height: 38px;
}

.card {
    box-shadow: 0 10px 10px 0 rgba(88, 89, 91, 0.1);
}

.no-card-shadow .card {
    box-shadow: none;
}

.tab-primary {
    background-color: $primary !important;
    box-shadow: 0 1px 1px 0 rgba(88, 89, 91, 0.1) !important;
    font-family: "IBM Plex Medium";
    font-size: pxtorem(18);
    line-height: 23px;
    border-radius: 4px;
}

.tab-secondary {
    background-color: $text-light !important;
    box-shadow: 0 1px 1px 0 rgba(88, 89, 91, 0.1) !important;
    font-family: "IBM Plex Medium";
    font-size: pxtorem(18);
    line-height: 23px;
    color: $text-dark !important;
    border-radius: 4px;

    &:hover {
        box-shadow: 0 4px 12px 0 $primary !important;
        background-color: $primary !important;
        color: #ffffff !important;
    }
}

input:disabled,
input:read-only:not(.flatpickr-input) {
    color: $text-dark !important;
    background-color: $input-disabled-bg !important;
}

.input-group-prepend .input-group-text {
    background-color: $nav-inactive-color !important;
    color: $text-dark;
}

.card .card-title {
    font-family: "IBM Plex Medium";
    font-size: pxtorem(24);
    line-height: 32px;
    color: $text-dark;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 5px;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 5px;
    color: $text-grey;
}

.breadcrumb .breadcrumb-item a {
    color: $text-grey;
    font-family: "Rubik Medium";
    font-size: pxtorem(14);
    line-height: 17px;
}

.breadcrumb-item.active {
    color: $text-dark;
    font-family: "Rubik Medium";
    font-size: pxtorem(14);
    line-height: 17px;
}

.breadcrumb-header {
    font-size: pxtorem(32);
    line-height: 38px;
    font-family: "Rubik Medium";
    color: $text-dark;
}

.breadcrumb-back {
    a {
        color: $primary;
        font-size: pxtorem(20);
    }
}

.filter-title {
    font-family: "Rubik Medium" !important;
    font-size: pxtorem(18) !important;
    line-height: 19px !important;
    color: $text-dark !important;
}

.epoa-file {
    color: #58595b;
    font-family: "IBM Plex";
    font-size: 14px;
}

td,
th {
    min-width: 200px;
}

th {
    font-family: "Rubik Medium" !important;
    font-size: pxtorem(16) !important;
    line-height: 20px !important;
    color: $text-dark !important;
}

a i {
    font-size: pxtorem(20);
    color: $primary;
}

td {
    font-family: "IBM Plex Medium" !important;
    font-size: pxtorem(16) !important;
    line-height: 18px !important;
    color: $text-dark !important;

    a i {
        font-size: pxtorem(20);
        color: $primary;
    }
}

.table.table-borderless thead tr {
    border-bottom: 1px solid $text-light;
    border-top: 1px solid $text-light;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.flatpickr-minute {
    background-color: $primary !important;
    color: white !important;
}

.flatpickr-hour {
    background-color: $primary !important;
    color: white !important;
}

.flatpickr-time-separator {
    background-color: $primary !important;
    color: white !important;
}

@media only screen and (max-width: 767px) {
    .page-user-profile .user-profile-images .user-profile-image {
        height: 100px;
        width: 100px;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        margin-top: 30px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
    }

    .page-user-profile .user-profile-text {
        top: 50%;
        left: 50%;
        margin-left: -85px;
        margin-top: 50px;
        color: #475f7b !important;
        text-align: center !important;
    }
}

.form-control {
    font-family: "IBM Plex Medium";
    color: $text-dark !important;
}

.editable {
    a,
    a:hover,
    a:visited,
    a:focus {
        color: $primary;
    }
}

.editable-buttons {
    .btn_dark {
        background-color: $primary !important;
        font-family: "IBM Plex Medium";
        margin-bottom: 5px;
        color: #fff;

        &:focus,
        &:active {
            background-color: $primary !important;
        }

        &:hover {
            background-color: $primary !important;
        }
    }

    .btn_light {
        background-color: $text-light !important;
        font-family: "IBM Plex Medium";
        color: $text-dark;
        margin-left: 0;

        &:focus,
        &:active {
            background-color: $text-light !important;
            color: $text-dark;
        }

        &:hover {
            box-shadow: 0 4px 12px 0 $text-light !important;
            background-color: $text-light !important;
            color: $text-dark;
        }
    }
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .page-item.active {
        .page-link,
        .page-link:hover,
        .page-link:focus {
            background-color: $primary !important;
            color: #fff;
            font-family: "IBM Plex Medium";
        }
    }

    .page-item {
        .page-link,
        .page-link:hover,
        .page-link:focus {
            border: 0;
            color: $text-dark;
            font-family: "IBM Plex Medium";
            background: transparent;
        }
    }

    .page-item:first-child,
    .page-item:last-child {
        .page-link,
        .page-link:hover,
        .page-link:focus {
            border: 1px solid $text-grey;
            margin: 0 3px;
            border-radius: 0.267rem;
            color: $primary;
        }
    }
}

//file upload css
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 38px;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 38px;
    margin: 0;
    opacity: 0;

    &:focus {
        outline: red !important;
    }
}

.custom-file-label {
    left: 0;
    z-index: 1;
    height: 38px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #dfe3e7;
    border-radius: 0.267rem;
    color: #58595b;

    &::after {
        display: none;
        background-color: $primary;
        // background-color: black;
        color: white;
    }
}

.custom-browse-btn {
    height: 38px;
    font-weight: 500;
    font-family: "IBM Plex Semi Bold";
    margin-left: -8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    background-color: $primary;
    max-width: 120px;
    min-width: 80px;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #dfe3e7;
    box-shadow: 0;
}

//announcement member modal

.modal-title {
    color: $primary !important;
    font-size: 28px !important;
    font-weight: 500 !important;
}

.modal-header {
    border-bottom: 1px solid #dfe3e7 !important;
}

.modal-footer {
    border-top: 1px solid #dfe3e7 !important;
}

//checkbox styling
.custom-control-label {
    font-family: "IBM Plex Medium";
}

.custom-control-label::before {
    border: 1px solid $primary;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border: 1px solid $primary;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::after {
    background-color: $primary;
    border-radius: 0.267rem;
    color: $primary;
}

.custom-checkbox
    .custom-control-input:not(:disabled):active
    ~ .custom-control-label::before {
    background-color: $primary;
    border-color: $primary;
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: $primary;
    color: $primary;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
    color: $primary;
}

.custom-control-input:checked ~ .custom-control-label::after {
    background-color: $primary;
    border-radius: 0.267rem;
    border-color: $primary !important;
}

//widget classes
.widget-card {
    &-large {
        padding: pxtorem(16) !important;
    }

    &-small {
        padding: pxtorem(20) !important;
    }
}

.widget-label {
    color: #58595b;
    font-family: "IBM Plex Medium" !important;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
}

.widget-sublabel {
    color: #58595b;
    font-family: "IBM Plex Medium" !important;
    font-size: 12px;
    font-weight: 400;

    &.blockchain {
        margin-top: -16px;
        margin-bottom: 16px;
        font-weight: 0 !important;
    }
}

.widget-value {
    color: $primary;
    font-family: "Rubik Medium" !important;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 64px;

    &.small {
        margin-top: -30px;
        margin-bottom: -30px;
        font-size: 14px;
    }
}

.widget-input-value {
    color: $primary;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 64px;
    border: 0;
    width: 100%;
}

.widget-capital-image {
    background-image: url("/images/capital_bg.png");
    background-position: top right;
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-color: white !important;
}

.widget-rollover-image {
    background-image: url("/images/rollover_bg.png");
    background-position: top right;
    background-size: 140px 120px;
    background-repeat: no-repeat;
    background-color: white !important;
}

.widget-cash-image {
    background-image: url("/images/cash_bg.png");
    background-position: top right;
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-color: white !important;
}

.widget-equity-image {
    background-image: url("/images/equity_bg.png");
    background-position: top right;
    background-size: 135px 120px;
    background-repeat: no-repeat;
    background-color: white !important;
    position: relative;
}

.widget-promo-credit:before {
    content: "";
    width: 1px;
    height: 100px;
    background: $primary;
    position: absolute;
    bottom: 17px;
    left: 0px;
}

.widget-usdt-image {
    border-radius: 0;
    background-image: url("/images/usdtbg.png");
    background-position: 100% 0%;
    background-size: 110px 125px;
    background-repeat: no-repeat;
    background-color: white !important;
}

.widget-usdc-image {
    background-image: url("/images/usdcbg.png");
    background-position: 100% 0%;
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-color: white !important;
}

.widget-hover {
    &:hover {
        cursor: pointer;
    }
}

.widget-info-label {
    color: #58595b;
    font-size: 14px;
    font-family: "IBM Plex Semi Bold";
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 5px;

    &.dashboard {
        font-size: 16px !important;
    }

    &.no-bold {
        font-family: "IBM Plex Medium" !important;
    }
}

.widget-info-value {
    color: $primary;
    font-size: 14px;
    font-family: "IBM Plex Semi Bold";
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
    margin-bottom: 5px;

    &.dashboard {
        font-size: 16px !important;
    }

    &.no-bold {
        font-family: "IBM Plex Medium" !important;
    }
}

.widget-divider {
    margin-top: 8px;
    margin-bottom: 11px;
    height: 1px;
    width: 100%;
    background-color: $primary;

    &.extra {
        margin-bottom: 14px;
        margin-top: 10px;
    }
}

//support ticket

.support-ticket-msg-cont .msg-box {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f6f9;
    margin-bottom: 10px;
    padding: 15px;
}

.support-ticket-msg-cont .chat-cont {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.support-ticket-msg-cont .chat-cont.right {
    align-items: flex-end;
}

.support-ticket-msg-cont .chat-cont .chat-msg {
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    max-width: 50%;
    display: inline-block;
    color: #fff;
    font-weight: 600;
}

.support-ticket-msg-cont .chat-cont .chat-msg.right {
    // background-color: #dfe3e7;
    background-color: $primary;
    border-top-left-radius: 8px;
}

.support-ticket-msg-cont .chat-cont .chat-msg.left {
    background-color: #1f2c37;
    border-bottom-right-radius: 8px;
}

.support-ticket-msg-cont .chat-cont .chat-details {
    color: #1f2c37;
    font-size: 0.625rem;
    padding: 5px 0;
}

.support-ticket-msg-cont .input-cont .icon-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.support-ticket-msg-cont .input-cont .icon-cont i {
    font-size: 2.1875rem;
    color: #8f9da8;
    cursor: pointer;
}

.support-ticket-msg-cont .attachment-cont {
    color: #1f2c37;
    font-size: 0.875rem;
    padding-left: 5px;
    display: none;
}

.support-ticket-msg-cont .attachment-cont .remove {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}

.sponsor_legend {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    &_text {
        color: #a8a9ad;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 28px;
        margin-left: 14px;
        font-family: "Rubik Medium";

        @media only screen and (min-width: 1200px) {
            flex-direction: column;
        }
    }
}

.roles_cont {
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }

    .section_header {
        color: $primary;
        padding: 10px 0;
        font-weight: 600;
    }

    .permissions {
        padding: 10px 0;

        .right-align {
            text-align: right;
        }
    }

    .label {
        color: #58595b;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
    }

    .permission_tabs {
        font-size: $font-size-base;
        cursor: pointer;

        span {
            display: inline-block;
            border: 1px solid $primary;
            padding: 3px 10px;
            min-width: 36px;
            text-align: center;
            color: $primary;
            margin-left: -4px;
        }

        span:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-right: none;
            margin-left: 0;
        }

        span:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-left: none;
        }

        span.active {
            background-color: $primary;
            color: #ffffff;
        }
    }
}

.kyc_label {
    color: #58595b;
    font-family: "IBM Plex Medium" !important;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
}

.kyc_status {
    color: $primary;
    font-family: "Rubik Medium" !important;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 64px;
}

.kyc-subtext {
    color: #58595b;
    font-family: "IBM Plex";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    &.top-margin {
        margin-top: 30px;
    }
}

.proof-delete {
    background: transparent;
    border: 0;
    padding-top: 4px;

    &:hover {
        border: solid 1px $primary;
        border-radius: 5px;
    }
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $text-dark !important; /* Red */
}

.bs-tooltip-bottom .tooltip-inner {
    background-color: $text-dark !important;
}

.credit-conversion-settings-label {
    color: #58595b;
    font-family: "IBM Plex Medium";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    height: 44px;
}

.rightShadow {
    box-shadow: inset -18px 0 20px -18px rgba(0, 0, 0, 0.5);
}

.leftShadow {
    box-shadow: inset 18px 0 20px -18px rgba(0, 0, 0, 0.5);
}

.leftRightShadow {
    box-shadow: inset -18px 0 20px -18px rgba(0, 0, 0, 0.5),
        inset 18px 0 20px -18px rgba(0, 0, 0, 0.5);
}
